# Build output
/build/
/user/build/
/user/files/bin/*.elf

# Nested local repo
/user/files/home/*
/user/files/run/*
/user/programs/ocl/
/user/programs/*
!/user/programs/install.c
!/user/programs/shell.c
!/user/programs/net.c
!/user/programs/see.c
!/user/programs/numloss/
!/user/programs/numloss/*

# Editor temp files
*.swp
*.swo
*~
__pycache__/
*.pyc

# OS clutter
.DS_Store
Thumbs.db
.iso

tools/__pycache__
tests/__pycache__

/New_Update/*
!/New_Update/serve_update_site.py
