# Build output
/build/
/user/build/
/user/files/bin/*.elf

# Nested local repo
/user/programs/ocl/
/user/programs/*
!/user/programs/install.c
!/user/programs/shell.c
!/user/programs/net.c
!/user/programs/see.c

# Editor temp files
*.swp
*.swo
*~

# OS clutter
.DS_Store
Thumbs.db
.iso
