set timeout=5
set default=0

menuentry "NumOS (VGA default)" {
    terminal_output console
    multiboot2 /boot/kernel.bin init=/bin/shell.elf gfx=vga
    module2    /boot/disk.img disk
    boot
}

menuentry "NumOS (BGA)" {
    terminal_output console
    multiboot2 /boot/kernel.bin init=/bin/shell.elf gfx=bga
    module2    /boot/disk.img disk
    boot
}

menuentry "NumOS (VESA 1920x1200x32)" {
    insmod all_video
    insmod vbe
    insmod vga
    insmod gfxterm
    insmod font
    set gfxmode=1080x920x32
    set gfxpayload=keep
    if loadfont unicode; then
        terminal_output gfxterm
    fi
    multiboot2 /boot/kernel-vesa.bin init=/bin/shell.elf gfx=vesa
    module2    /boot/disk.img disk
    boot
}
